<div class="container">
    <!-- theme content  -->
    <div class="theme-content">
        <!-- theme-title  -->
        <div class="theme-title">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <h2>{{recipe.name}}</h2>
                    <p>Date: <time>{{recipe._createdOn}}</time></p>
                </div>
                <div class="subscribers">
                    <p>Steps needed to prepare your dish: <span>{{recipe.steps.length || 0}}</span></p>
                    <!-- <button class="subscribe">Subscribe</button>
                    <button class="unsubscribe">Unsubscribe</button> -->
                </div>
            </div>
        </div>
        <!-- comment  -->
        <div class="comment" >
            <header class="header">
                <p><span>{{recipe.name}}</span> posted on <time>{{recipe._createdOn | elapsedTime}}</time></p>
            </header>
            <div class="comment-main">
                <div class="userdetails">
                    <img src="../../../assets/images.jpg" alt="avatar">
                </div>
                <div class="details">
                    <div class="post-content">
                        <h4>Steps that are needed to follow:</h4>
                        <p> {{recipe.steps}}</p>
                    </div>
                    <div class="post-content">
                        <h4>Ingredients that are needed:</h4>
                        <p> {{recipe.ingredients}}</p>
                    </div>
                </div>
                
            </div>
            <div *ngIf="islogged" class="footer">
                <p class="likes" (click)="like()">{{likes}} likes</p>
                <p class="likes" (click)="dislike()">{{dislikes}} Dislikes</p>
            </div>
        </div>

    </div>
</div>
